<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mail Generator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Select Event Type</h1>
        <form action="/select_event_type" method="post">
            <div>
                <input type="radio" id="online" name="event_type" value="online" required>
                <label for="online">Online</label>
            </div>
            <div>
                <input type="radio" id="offline" name="event_type" value="offline" required>
                <label for="offline">Offline</label>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
